/* Root Variables */
:root {
    --color-1: #1e2952; /* Midnight Indigo */
    --color-2: #242d63; /* Deep Sapphire */
    --color-3: #2e3a78; /* Twilight Blue */
    --color-4: #3b407c; /* Dusk Violet */
    --color-5: #3d4b8a; /* Storm Blue */
    --color-6: #405393; /* Mystical Blue */
    --color-7: #3b5e99; /* Shadow Teal */
    --color-8: #2e4f85; /* Enchanted Azure */
    --color-9: #233c6e; /* Dark Cerulean */
    --color-10: #1b3259; /* Obsidian Blue */
  }
  

  
  /* Keyframes for the Background Animation */
  @keyframes enchantedBackground {
    0% {
      background: linear-gradient(45deg, var(--color-1), var(--color-2));
    }
    10% {
      background: linear-gradient(45deg, var(--color-2), var(--color-3));
    }
    20% {
      background: linear-gradient(45deg, var(--color-3), var(--color-4));
    }
    30% {
      background: linear-gradient(45deg, var(--color-4), var(--color-5));
    }
    40% {
      background: linear-gradient(45deg, var(--color-5), var(--color-6));
    }
    50% {
      background: linear-gradient(45deg, var(--color-6), var(--color-7));
    }
    60% {
      background: linear-gradient(45deg, var(--color-7), var(--color-8));
    }
    70% {
      background: linear-gradient(45deg, var(--color-8), var(--color-9));
    }
    80% {
      background: linear-gradient(45deg, var(--color-9), var(--color-10));
    }
    90% {
      background: linear-gradient(45deg, var(--color-10), var(--color-1));
    }
    100% {
      background: linear-gradient(45deg, var(--color-1), var(--color-2));
    }
  }
  